mat-sidenav-content {
     min-height: 90vh;
     background-image: url('../assets/images/landscape-1626415447397-4238.jpg');
     background-size: cover;
     background-attachment: fixed;
     scroll-behavior: smooth;
     background-repeat: no-repeat;
}