<div class="first-card">
     <mat-card>
          <mat-card-header>
               <mat-card-title>Ask Question and Explore the world</mat-card-title>
          </mat-card-header>
          <div>
               <img src="../../assets/images/undraw_Blogging_re_kl0d.svg" alt="image">
               <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur vitae obcaecati sit aliquam, ut non impedit enim adipisci voluptas, accusamus quae ipsam suscipit, soluta veniam voluptate dignissimos consectetur eius unde!</p>
               </mat-card-content>
          </div>
     </mat-card>
</div>

<h1>Developers</h1>

<div>
     <div class="developer-info">
          <mat-card>
               <mat-card-header>
                    <div mat-card-avatar class="avatar-image"></div>
                    <mat-card-title>Mr. ABC XYZ</mat-card-title>
                    <mat-card-subtitle>Software Developer</mat-card-subtitle>
               </mat-card-header>
               <img src="https://vectorified.com/images/coder-icon-9.png" alt="">
               <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iure hic commodi enim consequatur quo quod suscipit natus fugit, expedita officia eveniet veritatis facere earum reiciendis sunt, beatae aliquam iusto.</p>
               </mat-card-content>

               <mat-card-actions>
                    <button mat-icon-button><mat-icon>facebook</mat-icon></button>
                    <button mat-icon-button><mat-icon>email</mat-icon></button>
               </mat-card-actions>
          </mat-card>

          <mat-card>
               <mat-card-header>
                    <div mat-card-avatar class="avatar-image"></div>
                    <mat-card-title>Mr. ABC XYZ</mat-card-title>
                    <mat-card-subtitle>Software Developer</mat-card-subtitle>
               </mat-card-header>
               <img src="https://vectorified.com/images/coder-icon-9.png" alt="">
               <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iure hic commodi enim consequatur quo quod suscipit natus fugit, expedita officia eveniet veritatis facere earum reiciendis sunt, beatae aliquam iusto.</p>
               </mat-card-content>
               <mat-card-actions>
                    <button mat-icon-button><mat-icon>facebook</mat-icon></button>
                    <button mat-icon-button><mat-icon>email</mat-icon></button>
               </mat-card-actions>
          </mat-card>
     </div>
</div>