<div class="first-card">
     <mat-card>
          <mat-card-header>
               <mat-card-title>Ask Question and Explore the world</mat-card-title>
          </mat-card-header>
          <div>
               <img src="../../assets/images/undraw_Blogging_re_kl0d.svg" alt="image">
               <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur vitae obcaecati sit aliquam, ut non impedit enim adipisci voluptas, accusamus quae ipsam suscipit, soluta veniam voluptate dignissimos consectetur eius unde!</p>
               </mat-card-content>
          </div>
     </mat-card>
</div>

<div>
     <div class="developer-info">
          <mat-card>
               <mat-card-header>
                    <mat-card-title>Mr. ABC XYZ</mat-card-title>
                    <mat-card-subtitle>Software Developer</mat-card-subtitle>
               </mat-card-header>
               <img src="" alt="">
          </mat-card>

          <mat-card>
               <mat-card-title>Ask Question and Explore the world</mat-card-title>
               <div>
                    <img src="../../assets/images/undraw_Blogging_re_kl0d.svg" alt="image">
               </div>
               <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur vitae obcaecati sit aliquam, ut non impedit enim adipisci voluptas, accusamus quae ipsam suscipit, soluta veniam voluptate dignissimos consectetur eius unde!</p>
               </mat-card-content>
          </mat-card>
     </div>
</div>