.first-card mat-card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.first-card mat-card div {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.first-card img {
     height: 300px;
     width: 400px;
     margin: 0px 20px;
}

.first-card  mat-card-content {
     margin: 20px 30px;
     width: 300px;
     text-align: justify;
     font-size: 18px;
}

h1 {
     font-family:  sans-serif;
     color: #ff0000;
     text-decoration: underline #000;
     text-align: center;
     margin: 40px;
}

.developer-info {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.developer-info mat-card {
     margin: 10px;
}

.avatar-image {
     background-image: url('https://vectorified.com/images/coder-icon-9.png');
     background-size: cover;
}

.developer-info mat-card-content, img {
     max-width: 350px;
     text-align: justify;
     font-size: 16px;
}
